div{
    background-color: rgba(0, 128, 0, 0.747);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.356);
    color: #FFF;
    padding: 10px;
}